{% extends 'base.html' %}

{% block content %}

<form action="/accounts/login/" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit" />
</form>

<script type="text/javascript">
	// setup bootstrap formatting
	function mergejQueryObjects(arrayOfJqueryObjects) {
        return $($.map(arrayOfJqueryObjects, function (el) {
            return el.get();
        }));
    }
	$('form label').each(function() {
		var next, elements = [$(this)];
		do {
			if(next) {
				next = $(next[0]).next();
			} else {
				next = $(this).next();
			}
			elements.push($(next));
		} while(next[0].nodeName != 'SPAN');

		mergejQueryObjects(elements).wrapAll('<div class="form-group">');
	});
</script>

{% endblock %}